<%= content_tag :div, class: "row" do %>
	<%= content_tag :div, class: "col s12" do %>
		<%= content_tag :div, class: "modal-content", style: "display: initial;" do %>
		  <%= content_tag :div, class: "modal-header" do %>
		    <h4 class="modal-title text-center" id="exampleModalLabel">Editing Movie</h4>
		  <% end %>
		  <%= content_tag :div, class: "modal-body" do %>
				<%= render 'form', movie: @movie %>
			<% end %>
		<% end %>
	<% end %>
<% end %>
<%#= link_to 'Show', @movie %> |
<%#= link_to 'Back', movies_path %>
