<div class="content">
  <div class="movie_top">
    <div class="col-md-9 movie_box">
      <div class="grid images_3_of_2">
        <div class="movie_image">
          <span class="movie_rating"><%= @movie.rating %>5</span>
          <img src="<%=@movie.cover_photo%>" class="img-responsive" alt="" style="width: 287px;" />
        </div>
        <div class="movie_rate">
          <div class="rating_desc">
            <p>Your Vote :</p>
          </div>
          <form action="" class="sky-form">
            <fieldset>
              <section>
                <div class="rating">
                  <input type="radio" name="stars-rating" id="stars-rating-5">
                  <label for="stars-rating-5"><i class="icon-star"></i>
                  </label>
                  <input type="radio" name="stars-rating" id="stars-rating-4">
                  <label for="stars-rating-4"><i class="icon-star"></i>
                  </label>
                  <input type="radio" name="stars-rating" id="stars-rating-3">
                  <label for="stars-rating-3"><i class="icon-star"></i>
                  </label>
                  <input type="radio" name="stars-rating" id="stars-rating-2">
                  <label for="stars-rating-2"><i class="icon-star"></i>
                  </label>
                  <input type="radio" name="stars-rating" id="stars-rating-1">
                  <label for="stars-rating-1"><i class="icon-star"></i>
                  </label>
                </div>
              </section>
            </fieldset>
          </form>
          <hr style="border-top: 2px solid #d8232a;">
          <div align="justify"><%= @movie.plot_summary %></div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="desc1 span_3_of_2">
        <p class="movie_option"><strong>Title: </strong><%= @movie.name %></p>

        <% unless @movie.country_list.blank? %>
        <p class="movie_option"><strong>Country: </strong>
        <% @movie.country_list.each_with_index do |country, index| %>
          <a href="https://www.google.co.in/#q=<%=country.downcase.split(' ').join('+')%>" target='self'><%= (@movie.country_list.length != 1 && index < @movie.country_list.length - 1) ? "#{country.titlecase}, " : country.titlecase %>
          </a>
        <% end %>
        </p>
        <% end %>

        <p class="movie_option"><strong>Year: </strong><%= link_to @movie.released_year, "#" %></p>
        
        <% unless @movie.genres.blank? %>
        <p class="movie_option"><strong>Category: </strong>
          <% @movie.genres.each_with_index do |tag, index| %>
          <a href="/movies/genre/<%=tag.downcase.split(' ').join('+')%>-movies" target='self'>
            <%= (@movie.genres.length != 1 && index < @movie.genres.length - 1) ? "#{tag.titlecase}, " : tag.titlecase %>
          </a>
        <% end %>
        </p>
        <% end %>

        <p class="movie_option"><strong>Release Date: </strong>December 12, 2014</p>
        
        <% unless @movie.director_list.blank? %>
        <p class="movie_option"><strong>Director: </strong>
        <% @movie.director_list.each_with_index do |director, index| %>
          <a href="https://www.google.co.in/#q=<%=director.titleize.split(' ').join('+')%>" target='self' title="Director <%=director.titlecase%> of <%=@movie.name%>">
            <%= (@movie.director_list.length != 1 && index < @movie.director_list.length - 1) ? "#{director.titlecase}, " : director.titlecase %>
          </a>
        <% end %>
        </p>
        <% end %>

        <% unless @movie.writer_list.blank? %>
        <p class="movie_option"><strong>Writer: </strong>
        <% @movie.writer_list.each_with_index do |writer, index| %>
          <a href="https://www.google.co.in/#q=<%=writer.titleize.split(' ').join('+')%>" target='self' title="Writer <%=writer.titlecase%> of <%=@movie.name%>">
            <%= (@movie.writer_list.length != 1 && index < @movie.writer_list.length - 1) ? "#{writer.titlecase}, " : writer.titlecase %>
          </a>
        <% end %>
        </p>
        <% end %>

        <% unless @movie.language_list.blank? %>
        <p class="movie_option"><strong>Language: </strong>
        <% @movie.language_list.each_with_index do |language, index| %>
          <a href="https://www.google.co.in/#q=<%=language.titleize.split(' ').join('+')%>" target='self' title="Language <%=language.titlecase%> of <%=@movie.name%>">
            <%= (@movie.language_list.length != 1 && index < @movie.language_list.length - 1) ? "#{language.titlecase}, " : language.titlecase %>
          </a>
        <% end %>
        </p>
        <% end %>

        <% unless @movie.cast_member_list.blank? %>
        <p class="movie_option less_characters"><strong>Characters: </strong>
        <% @movie.cast_member_list[0..4].each_with_index do |character, index| %>
          <a href="https://www.google.co.in/#q=<%=character.titleize.split(' ').join('+')%>" target='self' title="<%=character.titlecase%> in <%=@movie.name%>">
            <%= (@movie.cast_member_list.length != 1 && index < @movie.cast_member_list.length - 1) ? "#{character.titlecase}, " : character.titlecase %>
          </a>
        <% end %>
          <a href="javascript:$('.more_characters').css({'display':'inline'});$('.less_characters').css({'display':'none'});" style="color: red;">
            more
          </a>
        </p>
        <p class="movie_option more_characters" style="display: none;"><strong>Characters: </strong>
        <% @movie.cast_member_list.each_with_index do |character, index| %>
          <a href="https://www.google.co.in/#q=<%=character.titleize.split(' ').join('+')%>" target='self' title="<%=character.titlecase%> in <%=@movie.name%>">
            <%= (@movie.cast_member_list.length != 1 && index < @movie.cast_member_list.length - 1) ? "#{character.titlecase}, " : character.titlecase %>
          </a>
        <% end %>
          <a href="javascript:$('.more_characters').css({'display':'none'});$('.less_characters').css({'display':'inline'});" style="color: red;">
            less  
          </a>
        </p>
        <% end %>

        <p class="movie_option"><strong>Source: </strong><a href='http://akas.imdb.com/title/tt<%=@movie.imdbid%>/combined' target="self">IMDb</a></p>

        <!-- <div class="down_btn">
          <a class="btn1 btn-red" href="#"><i class="mdi mdi-download mdi-18px"></i> Download Torrent</a>
        </div> -->
        <!-- <div class="down_btn">
          <a class="btn1 btn-blue" href="#"><i class="mdi mdi-movie mdi-18px"></i> Download Movie</a>
        </div> -->
        <div class="down_btn">
          <a class="btn1 btn-cyan" href="<%=@movie.facebook_commenter_url%>/watch/online#WatchMovie"><i class="mdi mdi-video mdi-18px"></i> Watch Movie</a>
        </div>
        <div class="down_btn">
          <a class="btn1 btn-orange" href="<%=@movie.facebook_commenter_url%>/free/download#now"><i class="mdi mdi-magnet mdi-18px"></i> Download Movie</a>
        </div>
        <!-- <div class="down_btn">
          <a class="btn1 btn-orange" href="#"><i class="mdi mdi-magnet mdi-18px"></i> Magnet Download</a>
        </div> -->
      </div>
      <div class="clearfix"> </div>
      <br>
      <p class="movie_option more_characters">
        <strong>Synopsis: </strong>
        <%= @movie.synopsis %>
      </p>
      
      <div class="clearfix"> </div>

      <br>

      <% unless @movie.youtube.blank? %>
        <iframe width="783" height="440" src="<%= @movie.youtube %>" frameborder="0"></iframe>
      <% end %>

      <%= social_share_button_tag(@movie.name, :image => "http://www.watchmoviesfree.info#{@movie.cover_photo}", desc: @movie.plot_summary) %>

      <iframe src="<%=@movie.watch_movie%>" scrolling="no" frameborder="0" id="WatchMovie" width="783" height="440" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>

      <div class="fb-comments" data-href="http://www.watchmoviesfree.info<%=@movie.facebook_commenter_url%>" data-width="783" data-numposts="5"></div>
    </div>
    <%= render "relate_movies" %>
  </div>
</div>
<%= render "/shared/shortst" %>